<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.ssm.dao.DeptDao">

	<resultMap id="deptMap" type="Dept">
        <id property="did" column="did"/>
        <result property="dname" column="dname"/>
        <result property="uid" column="uid"/>

        <collection property="posts" ofType="Post">
            <id property="pid" column="pid"/>
            <result property="pname" column="pname"/>
        </collection>
    </resultMap>

	<select id="queryAllDept" resultMap="deptMap">
		select dept.*,post.* from dept,post where dept.did=post.did
	</select>
	
	<select id="queryDeptByDname" parameterType="String" resultType="Dept">
		select * from dept where dname=#{dname}
	</select>
	
	<select id="queryDeptByDid" parameterType="int" resultType="Dept">
		select * from dept where did=#{did}
	</select>
	
	<select id="queryDeptAndPostByDid" resultMap="deptMap">
		select dept.*,post.* from dept,post where dept.did=post.did and did=#{did}
	</select>
	
	<select id="queryDeptByUid" parameterType="int" resultType="Dept">
		select * from dept where uid=#{uid}
	</select>
	
	<insert id="insertDept" parameterType="Dept">
		insert into dept(dname,uid)values(#{dname},#{uid})
	</insert>
	
	<delete id="deleteDept" parameterType="int">
		delete from dept where did=#{did}
	</delete>
	
	<update id="updateDept" parameterType="Dept">
		update dept set dname=#{dname},uid=#{uid} where did=#{did}
	</update>
	
</mapper>