<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.ssm.dao.EmployeeDao">

	<insert id="insertEmployee" parameterType="Employee">
		insert into employee (lastName,email,birth,createTime,dept_id)values(#{lastName},#{email},#{birth},#{createTime},#{dept.id})
	</insert>
	
	<delete id="deleteEmployee" parameterType="int">
		delete from employee where id=#{id}
	</delete>

	<select id="queryAll" resultType="Employee">
		select e.id,e.lastName,e.email,e.birth,e.createTime,e.dept_id,d.id,d.name 
		from employee e,dept d  
		where e.dept_id=d.id
	</select>
	
	<select id="queryById" resultType="Employee">
		select e.id,e.lastName,e.email,e.birth,e.createTime,e.dept_id,d.id,d.name 
		from employee e,dept d  
		where e.dept_id=d.id 
		and e.id=#{id}
	</select>
	
	<update id="updateEmployee" parameterType="Employee">
		update employee set lastName=#{lastName},email=#{email},birth=#{birth},dept_id=#{dept.id} where id=#{id}
	</update>
	
</mapper>